{% extends "new_base.html" %}
{% block content %}
<dialog class="add_form_container modal" id="add-todo">
<div class="add_todo_form modal-content">
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}
        </div>
        <div class="form-group mt-2">
            {{ form.deadline.label }}<br>
            {{ form.deadline(class="form-control", type="date") }}  <!-- Use type="date" for date picker -->
        </div>
        <div class="form-group mt-3">
            {{ form.submit(class="btn btn-primary custom-btn") }}
        </div>
    </form>
</div>
</dialog>
{% endblock %}