/* Variables */
:root {
    --primary-purple: #9b6dff; /* Main purple color */
    --primary-hover: #8557f7; /* Darker purple for hover effects */
    --dark-bg: #1e1926; /* Dark background */
    --sidebar-bg: #2a2433; /* Sidebar background */
    --card-bg: #332b3d; /* Card background */
    --text-primary: #ffffff; /* Primary text color */
    --text-secondary: #e0d5ff; /* Secondary text color */
    --text-muted: #b4a5d6; /* Muted text color */
    --border-color: #3d3447; /* Border color */
    --alert-color: rgb(194, 65, 65); /* Red alert color */

     /* Light mode variables */
     --light-bg: #f0f8f0; /* Light background */
     --light-sidebar-bg: #e0f7e0; /* Light sidebar background */
     --light-card-bg: #d0f0d0; /* Light card background */
     --light-text-primary: #333333; /* Primary text color in light mode */
     --light-text-secondary: #555555; /* Secondary text color in light mode */
     --light-border-color: #a0d0a0; /* Light border color */
     --light-primary-green: #38af62;
     --light-primary-green-hover: #19763a;
}

/* General Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh; /* Vollständige Höhe */
    display: flex;
    justify-content: center; /* Zentriert horizontal */
    align-items: center; /* Zentriert vertikal */
    background-color: var(--dark-bg); /* Hintergrundfarbe */
}


/* Layout */
.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    width: 80%;
    max-width: 1200px;
    /* min-height: 100vh; /* Ensure it takes the full viewport height */
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: scroll;
}

.app-container {
    display: flex;
    flex: 1; /* Allow it to grow and fill available space */
    height: 100%;
}

/* Sidebar */
.sidebar {
    width: 250px; /* Feste Breite */
    background-color: var(--sidebar-bg); /* Pastell-Lila */
    padding: 20px;
    color: var(--text-primary);
    flex-shrink: 0; /* Verhindert Schrumpfen */
}

.logo-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    margin-bottom: 20px; /* Space below the logo and text */
}

.logo {
    width: 50%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: -1rem; /* Space between logo and text */
}

.app-name {
    color: var(--text-primary);
    text-align: center; /* Center the app name */
    margin-bottom: 20px; /* Space below the app name */
    font-size: 1.5rem; /* Adjust font size as needed */
}

/* Content */ 

.main-content {
    flex: 1;
    padding: 2%;
    display: flex; /* Use flexbox for centering */
    overflow-y: scroll;
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the start */
    flex-direction: column; /* Stack content vertically */
}

/* Navbar */
.navbar {
    display: none; /* Hide the top navbar */
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.nav-item {
    padding: 10px;
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--primary-purple); /* Button background */
    border: none;
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
    margin-bottom: 10px; /* Space between buttons */
    transition: background-color 0.3s ease; /* Transition effect */
}

.nav-item:hover {
    background-color: var(--primary-hover); /* Change color on hover */
}

/* Components */
.subjects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.subject-card {
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

/* Headings */
h1 {
    text-align: center;
    color: var(--text-primary);
    margin: 10px;
}

h2 {
    color: var(--text-secondary);
    margin: 10px;
}

/* Fonts */
li {
    font-size: 1.5em;
    color: var(--text-secondary);
    list-style: none;
}

.quote-card footer {
    color: var(--text-muted);
    margin: 10px;
}

small {
    color: var(--text-secondary);
}

#toggle {
    font-size: 1.5rem;
}

/* Forms */
input {
    padding: 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #3a3a3a; /* Dark input fields */
    color: var(--text-secondary);
}

textarea {
    padding: 10px;
    width: 90%;
    height: 6em;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #3a3a3a; /* Dark input fields */
    color: var(--text-secondary);
}

button {
    width: 100%; /* Button nimmt die gesamte Breite des Containers ein */
    height: 50px; /* Höhe des Buttons */
    padding: 15px; /* Innerer Abstand für einen größeren Eindruck */
    font-size: 1.2rem; /* Größerer Text auf dem Button */
    background-color: var(--primary-purple); /* Hintergrundfarbe */
    color: var(--text-primary); /* Textfarbe */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--primary-hover); /* Change color on hover */
}

.my-form {
    color: var(--text-muted);
}




/* Buttons */
.btn {
    display: inline-block; /* Make it behave like a button */
    padding: 10px 20px; /* Add padding for size */
    margin: 0.5em 0 0.5em 0;
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    text-align: center; /* Center text */
    cursor: pointer; /* Change cursor to pointer */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    width: 100%; /* Make buttons take full width of their container */
    height: 3rem;
    font-size: 1.5em;
}

/* Specific Button Styles */
.btn-primary {
    background-color: var(--primary-purple); /* Use your primary color */
    color: var(--text-primary); /* Text color */
}

.btn-primary:hover {
    background-color: var(--primary-hover); /* Change color on hover */
}

.btn-delete {
    background-color: var(--alert-color); /* Use your primary color */
    color: var(--text-primary); /* Text color */
}

.btn-delete:hover {
    background-color: var(--alert-color); /* Change color on hover */
}

.custom-btn {
    width: 100%; /* Feste Breite */
    height: 3em; /* Feste Höhe */
    font-size: 1.2rem; /* Größerer Text */
    margin-top: 1em;
    padding: 10px 20px; /* Abstand innerhalb des Buttons */
    color: var(--text-primary); /* Textfarbe */
    border: none; /* Entferne den Rahmen */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: var(--primary-hover); /* Farbe beim Hover */
}


.big_button {
    width: 100%; /* Make the container full width */
    display: flex;
    justify-content: center; /* Center the button horizontally */
}

.big_btn {
    width: 100%; /* Make the button full width */
    display: block; /* Ensure the button behaves like a block element */
    text-align: center; /* Center the text within the button */
    padding: 15px; /* Add padding for better appearance */
    font-size: 1.2rem; /* Adjust font size as needed */
}

.subject-button {
    flex: 1 1 calc(25% - 1rem); /* Allow each button to take up to 25% of the row, minus gap */
    min-width: 200px; /* Minimum width for each button */
    padding: 15px; /* Adjust padding for a rectangular look */
    font-size: 16px; /* Font size for better readability */
    border-radius: 5px; /* Slightly rounded corners */
    text-align: center; /* Center text */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.subject-button:hover {
    background-color: var(--primary-hover); /* Change color on hover */
}

#theme-toggle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 2rem; /* Match the SVG width */
    height: 2rem; /* Match the SVG height */
}

#theme-toggle:hover svg path {
    fill: var(--light-border-color);
}



/* Miscellaneous */
.small { 
    color: var(--text-muted);
}

.description {
    background-color: var(--dark-bg);
    color: var(--text-secondary);
    height: 6em;
}



.overview {
    background-color: var(--dark-bg);
    width: 100%;
    height: auto;
    padding: 2em;
    margin-top: 15px;
    margin-bottom: 10px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.grades {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Distribute space between items */
    gap: 1rem; /* Space between items */
}



p {
    color: var(--text-muted);
    font-size: 1.5em;
    margin: 10px;
}

table {
    color: var(--text-muted);
    font-size: 1.5em;
}


/* Modal filter */

.modal-content {
    background-color: var(--sidebar-bg);
}

.modal-content input {
    background-color: var(--dark-bg);
    width: 100%;
    height: 3rem;
    color: var(--text-secondary);
    font-size: 2rem;
}

.modal-content button {
    background-color: var(--primary-purple);
    color: var(--text-secondary);
    width: 100%;
    height: 3rem;
    text-align: center;
}

.modal {
    background-color: rgba(33, 33, 33, 0.7);
}


/* Card Designs */

/* Greeter */
.greeter {
    background-color: var(--card-bg);
    height: auto; /* Allow height to adjust based on content */
    padding: 15px;
    border-radius: 8px; /* Optional: Add rounded corners for aesthetics */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
}

.greeter p {
    font-size: 1.5em;
}
/* ToDo Card Styling */
.card-container {
    width: 100%;
    margin-top: 8%;
    display: flex; /* Use flexbox */
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.todo-card {
    background-color: var(--card-bg);
    width: calc(50% - 10px); /* Adjust width to fit three cards in a row */
    height: auto; /* Allow height to adjust based on content */
    padding: 15px;
    margin-top: 10px;
    margin-right: 10px; /* Reduced margin for spacing between cards */
    border-radius: 8px; /* Optional: Add rounded corners for aesthetics */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add shadow for depth */
}

/* Register Content */
.register-content {
    background-color: var(--sidebar-bg);
    color: var(--text-primary);
    margin: 5vh auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Inherit modal styles for inputs and buttons */
.register-content input[type="text"],
.register-content input[type="email"],
.register-content input[type="password"],
.register-content textarea {
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    background-color: var(--card-bg);
    color: var(--text-primary);
    border: 1px solid var(--border-color);
}

.register-content .submit-button {
    background-color: var(--primary-purple);
    color: var(--text-primary);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 90%;
}

.register-content .submit-button:hover {
    background-color: var(--primary-hover);
}

.register-content label {
    display: block;
    margin: 10px auto 5px;
    font-size: 14px;
    text-align: left;
    width: 90%;
    color: var(--text-muted);
}

.grading-container {
    display: flex;
    justify-content: center;
}

.subject_points {
    margin: 20px;
}

.all_grades {
    margin: 20px;
}

.total-points {
    text-align: center;
    margin-top: 10px;
}

.login-card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    
}
.overview-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.add_todo_form {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
.add_todo_form input, .add_todo_form textarea {
    width: 500px;
    font-size: 1.5em;
}
.add_form_container {
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
}
label {
    color: var(--text-muted);
    font-size: 1.5em;
}


/* light mode */
body.light-mode {
    background-color: var(--light-bg);
    color: var(--light-text-primary);
}

body.light-mode .sidebar {
    background-color: var(--light-sidebar-bg);
}

body.light-mode .add_todo_form, body.light-mode .login-card, body.light-mode .register-content, body.light-mode .grading-container, body.light-mode .greeter, body.light-mode .footer {
    background-color: var(--light-sidebar-bg);
    color: var(--light-text-primary);
}

body.light-mode .overview, body.light-mode .todo-card {
    background-color: var(--light-card-bg);
    color: var(--light-text-primary);
}

body.light-mode .description {
    background-color: var(--light-bg);
    color: var(--light-text-secondary);
}
body.light-mode input,
body.light-mode textarea {
    background-color: #ffffff; /* White background for inputs */
    color: var(--light-text-primary);
    border: 1px solid var(--light-border-color);
}

body.light-mode svg path {
    fill: var(--dark-bg);
}
body.light-mode .social {
    background-image: "/static/github-mark.svg";
}

body.light-mode .btn-primary, body.light-mode .nav-item {
    background-color: var(--light-primary-green);
    color: var(--light-text-primary);
}
body.light-mode .btn-primary:hover, body.light-mode .nav-item:hover {
    background-color: var(--light-primary-green-hover);
}

body.light-mode .btn-delete {
    background-color: var(--alert-color);
}

body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode p,
body.light-mode small,
body.light-mode table,
body.light-mode ul,
body.light-mode li,
body.light-mode footer {
    color: var(--light-text-primary);
}

body.light-mode .social {
    background-image: url('/static/github-mark.svg');
}

.footer {
    display: flex;
    justify-content: space-between; /* Align items to the edges */
    align-items: center; /* Center items vertically */
    padding: 10px; /* Add some padding */
    background-color: var(--sidebar-bg); /* Match the sidebar background or choose another color */
    color: var(--text-primary); /* Text color */
    width: 100%; /* Ensure the footer takes the full width */
    position: relative; /* Ensure it stays within the container */
    flex-shrink: 0; /* Prevent the footer from shrinking */

    
}



.foo-content {
    display: flex;
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center items vertically */
    width: 100%; /* Ensure it takes the full width */
    padding: 5px; /* Add some padding for spacing */
}

.Socials {
    text-decoration: none;
}

.social {
    display: inline-block; /* Ensure the element is inline-block to apply width and height */
    width: 24px; /* Set the width of the icon */
    height: 24px; /* Set the height of the icon */
    background-image: url('/static/github-mark-white.svg'); /* Path to your icon */
    background-size: cover; /* Ensure the image covers the entire element */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}

.theme-mode {
    display: flex;
    align-items: center;
}