{% extends "new_base.html" %}

{% block content %}

<h1>Deine Noten</h1>

<h1>Fächer</h1>

<dialog class="modal" id="dropdown-menu-grades">
    <div class="modal-content">
        <button class="btn btn-delete" id="close-mobile-grades" formmethod="dialog">X</button>
    {% for subject in grades %}
    <button class="grade-btn btn btn-primary subject-button" id='grades-subject' onclick="showGradeForm('{{ subject.subject }}')">{{ subject.subject }}</button>
    {% endfor %}
    </div>
</dialog>

<!-- Button to open the modal for adding a new subject -->
<div class="grade-button-container">
    <button class="btn btn-primary btn-success" id="courses">Fächer</button>
    <button id="openSubjectModal" class="btn btn-primary btn-success">Neues Fach</button>
    <button id="openDeleteModal" class="btn btn-delete">Entferne Fach</button>
</div>


<!-- Modal for adding a new subject -->
<dialog id="subject-modal" class="modal">
    <div class="modal-content">
        <h2> Neues Fach</h2>
        <form method="POST" action="{{ url_for('main.add_subject') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="text" name="subject" placeholder="Fachname" required>
            <button id="close-subject" type="submit" class="btn btn-primary btn-success">Fach Hinzufügen</button>
        </form>
    </div>
</dialog>

<!-- Modal for deleting subjects -->
<dialog id="delete-modal" class="modal">
    <div class="modal-content">
        <h2>Fach Entfernen</h2>
        <ul id="subject-list">
            {% for subject in grades %}
            <li>
                {{ subject.subject }}
                <button class="btn btn-danger btn-delete" id="close-delete" onclick="deleteSubject('{{ subject.id }}', '{{ subject.subject }}')">Entfernen</button>
            </li>
            {% endfor %}
        </ul>
    </div>
</dialog>

<!-- Modal for adding grades -->
<dialog id="grade-modal" class="modal">
    <div class="modal-content">
        <button id="close-grades" formmethod="dialog">X</button>
        <h2>Add Grades for <span id="selected-subject"></span></h2>
        <form method="POST" action="{{ url_for('main.add_grade') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="subject" id="subject-input">

            <div class="form-group">
                <label for="q1">Q1:</label>
                <input type="number" name="q1" required>
            </div>
            <div class="form-group">
                <label for="q2">Q2:</label>
                <input type="number" name="q2" required>
            </div>
            <div class="form-group">
                <label for="q3">Q3:</label>
                <input type="number" name="q3" required>
            </div>
            <div class="form-group">
                <label for="q4">Q4:</label>
                <input type="number" name="q4" required>
            </div>

            <!-- Checkbox for LK -->
            <div class="form-group">
                <label for="is_lk">Is LK:</label>
                <input type="checkbox" name="is_lk" value="true">
            </div>

            <button type="submit" class="add-grade-btn btn btn-success" id="add-grades-to-subject">Add Grades</button>
        </form>
    </div>
</dialog>



<h1>Gesamt Punktzahl</h1>
<p class="total-points">Gesamt Punktzahl aller Fächer: <strong>{{ total_points }}</strong></p>
<div class="grading-container">
<div class="subject_points">
<h1> Punkte pro Fach </h1>
<table>
    <thead>
        <tr>
            <th>Fach</th>
            <th>Punkte</th>
        </tr>
    </thead>
    <tbody>
        {% for subject, points in subject_points.items() %}
        <tr>
            <td>{{ subject }}</td>
            <td>{{ points }} Punkte</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<div class="all_grades">
<h1> Alle Noten </h1>
<table class="table">
    <thead>
        <tr>
            <th>Fach</th>
            <th>Q1</th>
            <th>Q2</th>
            <th>Q3</th>
            <th>Q4</th>
            <th>LK</th>
        </tr>
    </thead>
    <tbody>
        {% for grade in grades %}
        <tr>
            <td>{{ grade.subject }}</td>
            <td>{{ grade.q1 }}</td>
            <td>{{ grade.q2 }}</td>
            <td>{{ grade.q3 }}</td>
            <td>{{ grade.q4 }}</td>
            <td>{{ 'Yes' if grade.is_lk else 'No' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>

{% endblock %} 