{% extends 'new_base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

    <div class="greeter"> <!-- Use the same class for styling -->
        <h1>Dein persönliches Dashboard</h1>
        <h2>Willkommen, <strong>{{ current_user.username }}</strong>!</h2>
        <br>
        <p>Heute ist der: <strong>{{ current_date }}</strong></p>
        <blockquote>
            <p>"{{ quote }}"</p>
            <small>- Albert Einstein</small>
        </blockquote>
    
        <div class="overview-container">
            <div class="overview simple-card">
                <h1>Heutige Aufgaben</h1>
                {% if today_tasks %}
                <ul>
                    {% for task in today_tasks %}
                        <li>{{ task.title }} - Deadline: {{ task.deadline.strftime('%Y-%m-%d') }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Keine Aufgaben.</p>
                {% endif %}
            </div>
            <div class="overview simple-card">
                <h1>Aufgaben kommender Woche</h1>
                {% if upcoming_tasks %}
                <ul>
                    {% for task in upcoming_tasks %}
                        <li>{{ task.title }} - Deadline: {{ task.deadline.strftime('%Y-%m-%d') }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Keine Aufgaben.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}