<!DOCTYPE html>
<html>
    <head>
        <title>StudyMate</title> <!-- Title of the App -->
        <link rel="stylesheet" href="/static/new_style.css">
        <link rel="icon" href="/static/icon.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="background"></div>
        <div class="login-wrapper">
            <div class="login-card">
                <h1>Registrieren</h1>
                <form method="POST" class="my-form">
                    {{ reg_form.hidden_tag() }}  <!-- CSRF token -->
                    <div class="form-group username-group">
                        <label for="username">Username</label>
                        {{ reg_form.username(class="form-control username-input") }}
                    </div>
                    <div class="form-group password-group">
                        <label for="password">Password</label>
                        {{ reg_form.password(class="form-control password-input") }}
                    </div>
                    <button type="submit" class="btn btn-primary">Registrieren</button>
                </form>
                <div class="btn btn-delete"><a href="/login">Cancel</a></div>
                
            </div>
        </div>
    </body>
</html>