{% extends "base.html" %}
{% block content %}
<h1>Meine Aufgaben</h1>
    <div class="big_button">
        <a href="{{ url_for('main.add_todo') }}" class="btn btn-primary big_btn" role="button">Neue Aufgabe</a>
    </div>
    <div class="card-container">
            {% for task in tasks %}
        <div class="todo-card">
                <h2>{{ task.title }}</h2>
                <p class="description">{{ task.description }}</p>
                <small>Created at: {{ task.created_at }}</small><br>
                <small>Deadline: {{ task.deadline.strftime('%Y-%m-%d') if task.deadline else 'No deadline set' }}</small>
            <div class="btn_container">
                <form action="{{ url_for('main.edit_todo', task_id=task.id) }}" method="GET" style="display:inline;">
                    <button type="submit" class="btn btn-primary">Bearbeiten</button>
                </form>
                <form action="{{ url_for('main.delete_todo', task_id=task.id) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-primary btn-delete">Löschen</button>
                </form>
            </div>
        </div>
            {% endfor %}  
    </div>
{% endblock %}